body
{
    margin: 0;
    background-color: #f7f7f7;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

img.logo {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
}

nav {
    display: block;
    width: 100%;
}
ul.topnav li a {
  text-decoration: none;
  color: #485058;
  font-weight: 700;
  
}

ul.topnav li a:hover
{
    color: #7aa3cc;
    transition: color 0.3s ease;
}

ul {
    margin-right: 30px;
    margin-top: 20px;
    display: block;
    float: right;
    
    
}

ul.topnav li {
    list-style: none;
    margin: 20px;
    font-size: 17px;
    float: left;
}

ul li.hiddenli {
    opacity: 0;
    cursor: default;
}


ul.topnav li.dropdown {
    display: none;
    font-size: 25px;
}


/*############ Mobile ############## */
@media screen and (max-width: 768px) {
    ul.topnav li:not(:nth-child(0)) {
        display: none;
    }
    
    ul.topnav li.dropdown {
        display: block;
        float: right;
    }
    
    ul.topnav.responsive li.dropdown {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    ul.topnav.responsive {
        position: relative;
        background-color: white;
        width: 100%;
    }
    
    ul.topnav.responsive li {
        display: inline; 
        float: none;
    }
    
    ul.topnav.responsive li a {
        display: block;
        text-align: center;
        padding: 5px;
    }
    

    ul.topnav.responsive li.hiddenli a {
        opacity: 0;
        cursor: default;
    }
    
    nav ul {
    opacity: 0.75;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    }

    ul.topnav li {
    list-style: none;
    float: left;
    }

    ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 15px;
    padding: 10px;
    color: black;
    }
    
    ul.topnav li a:hover {
    color: #7aa3cc;
    }
    
    a:hover {
        color: blue;
    }
    
    img.woman {
        margin-top: -5em;
    }
    
    img.code, img.ux {
        width: 70%;
        height: auto;
    }
  
}

/* end of mobile!!! */

.urmom2 {
    padding-top: 13.5em;
}
h1 {
    font-size: 50px;
    text-align: center;
    margin: 10px;
    margin-top: -2em;
    padding-bottom: 1em;
    font-weight: 700;
    color: #485058;
}

.screenshots {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

h2 {
    font-size: 30px;
    text-align: left;
    margin: 15px;
    font-weight: 600;
    color: #485058;
}

img {
    width: 340px;
    height: 200px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 2em;
    opacity: 1;
    display: block;
    transition: .3s ease;
    backface-visibility: hidden;
}



img:hover {
  opacity: 0.3;
}


h3 {
    font-size: 20px;
    font-weight: 200;
    color: #485058;
    display: block;
    margin-bottom: 0;
    margin-left: 15px;
    vertical-align: top;
    font-family: 'Work Sans', sans-serif;
    
    
}

.row1, .row2, .row3, .row4 {
    display: block;
}

.row4 {
    margin-bottom: 100px;
}

.row2 {
    margin-bottom: 5em;
}

.logo {
    width: 60px;
    height: auto;
    display: block;
    margin-right: 20px;
    float: right;
}

.logo:hover {
    opacity: 1;
}

img.linkedin {
    width: 50px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding-bottom: 1em;
}

