body {
    margin: 0;
    background-color: #fcfcfc;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
}

a:hover
{
  color: #7aa3cc;
    text-decoration: none;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -8px;
  left: -6px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: #485058;
  border-radius: 3px;
  z-index: 2;
  cursor: pointer;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #343d46;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}


.logo {
    width: 60px;
    padding: 0;
    display: block;
    margin-right: 20px;
    float: right;
    
}

img.woman {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 4em;
}


h1 {
    font-size: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    font-weight: 700;
    color: #485058;
    font-family: 'Montserrat', sans-serif;
}

p {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    font-weight: 400;
    line-height: 1.3;
    font-size: 20px;
    color: #485058;
    font-family: 'Work Sans', sans-serif;
    
}


.container {
    padding-top: 6em;
}

img.linkedin {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
    margin-bottom: 2em;
}

img.linkedin:hover {
    opacity: 0.3;
    transition: 0.3s;
}