body {
    margin: 0;
    background-color: #f7f7f7;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
}


img.logo {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
}

nav {
    display: block;
    width: 100%;
}
ul.topnav li a {
  text-decoration: none;
  color: #485058;
  font-weight: 700;
  
}

ul.topnav li a:hover
{
    color: #7aa3cc;
    transition: color 0.3s ease;
}

ul {
    margin-right: 30px;
    margin-top: 20px;
    display: block;
    float: right;
    
    
}

ul.topnav li {
    list-style: none;
    margin: 20px;
    font-size: 17px;
    float: left;
}

ul li.hiddenli {
    opacity: 0;
    cursor: default;
}


ul.topnav li.dropdown {
    display: none;
    font-size: 25px;
}


.logo {
    width: 60px;
    padding: 0;
    display: block;
    margin-right: 20px;
    float: right;
    
}

.urmom {
    padding-top: 13.5em;
}
img.woman {
    width: 100%;
    max-width: 450px;
    min-width: 250px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    margin-top: -60px;
}

h1 {
    font-size: 50px;
    width: 90%;
    display: block;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
    font-weight: 700;
    color: #485058;
    font-family: 'Montserrat', sans-serif;
}

p {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    font-weight: 400;
    line-height: 1.3;
    font-size: 20px;
    color: #485058;
    font-family: 'Work Sans', sans-serif;
    
}


img.linkedin {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    margin-bottom: 2em;
}

img.linkedin:hover {
    opacity: 0.3;
    transition: 0.3s;
}


/*############ Mobile ############## */
@media screen and (max-width: 768px) {
    ul.topnav li:not(:nth-child(0)) {
        display: none;
    }
    
    ul.topnav li.dropdown {
        display: block;
        float: right;
    }
    
    ul.topnav.responsive li.dropdown {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    ul.topnav.responsive {
        position: relative;
        background-color: white;
        width: 100%;
        z-index: 2;
    }
    
    ul.topnav.responsive li {
        display: inline; 
        float: none;
    }
    
    ul.topnav.responsive li a {
        display: block;
        text-align: center;
        padding: 5px;
    }
    

    ul.topnav.responsive li.hiddenli a {
        opacity: 0;
        cursor: default;
    }
    
    nav ul {
    opacity: 0.75;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    }

    ul.topnav li {
    list-style: none;
    float: left;
    }

    ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 15px;
    padding: 10px;
    color: black;
    }
    
    ul.topnav li a:hover {
    color: #7aa3cc;
    }
    
    a:hover {
        color: blue;
    }
    
    img.woman {
        margin-top: -5em;
        width: 50%;
        
    }
    
    h1 {
        margin-top: 0px;
        text-align: center;
    }

    
}

/* end of mobile!!! */
